@charset "utf-8";
body {
	background-image: url(../images/background.gif);
	background-color: #000000;
	background-position: top center;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	min-width: 900px;
}
#backgroundgradient {
	background-image: url(../images/backgroundgradient.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	min-height: 450px;
}

h1,h2,h3,p,div {
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}
ul {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-bottom: 10px;
}
h1,h2,h3 {
	color: #3f5101;
}

body,td,div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 24px;
	padding-bottom: 10px;
	font-weight: bold;
}
h2 {
	font-size: 18px;
	padding-bottom: 5px;
}
h3 {
	font-size: 14px;
	padding-bottom: 5px;
}

img {
	border: none;
}

a {
	color: #7c4a23;
	font-weight: bold;
}
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* wrapper width = 900 + (20 padding) = 922 */

#portraitcolumn {
	width: 200px;
	float: left;
	border: 1px solid #cfcd90;
}

#contentcolumn {
	width: 688px; /* 900 - 202 - (10 margin) */
	float: left;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}

#content {
	border: solid #cfcd90;
	border-width: 0 1px 1px 1px;
	background: #ffffff;
	margin: 0px;
	padding: 20px;
}

#header {
	background-image:url(../images/header.gif);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 75px;
}


#navigation {
}

#navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation ul li {
	float: left;
	font-size: 14px;
	padding: 5px 15px 5px 15px;
	border-style: solid;
	border-color: #cfcd90;
	border-width: 1px 1px 0px 0px;
	background-image: url(../images/menubackground.gif);
}

#navigation ul li a {
}

#navigation .first {
	border-left-width: 1px;
}

#navigation .selected {
	background: #FFFFFF;
}

#footer {
	margin-top: 20px;
}
#footerlogo {
	float: left;
	margin-left: 10px;
	margin-right: 20px;
}
.div_clear {
	clear: both;
}


/* CSS for Papers */
.papers_downloads td {
	padding: 0px 10px 20px 0px;
}

.papers_download .icon {
	float: left;
	margin-right: 10px;
}